# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/
*.iml

# Android
.gradle/
android/.gradle/
android/app/.cxx/
local.properties
android/key.properties

# System
.DS_Store
Thumbs.db

# Environment & Secrets
.env
*.jks
*.keystore
**/secrets.dart

# Logs
*.log

# GitHub Actions (optional)
.github/workflows/*.log
android/app/src/main/assets/model/
android/app/src/main/assets/model/
android/app/src/main/assets/model/
